@charset "UTF-8";

* {
   margin: 0px; 
   padding: 0px;
   font-size: 1em;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    padding: 10px;
    text-align: center;

    background-color: rgba(255, 0, 0, 0.644);
    color: white;
}
.titulo {
    text-align: center;
    font-size: 1.8em;
}
.titulo-2 {
    text-align: left;
    font-size: 1.8em;
}

p#menu {
    padding: 10px;

    font-size: 1.1em;
    text-align: right;
    word-spacing: 2em;

    background-color: rgba(255, 0, 0, 0.356);
    border-radius: 5px;
}
p#menu  > a{
    color: black;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}
p#menu  > a:hover {
    background-color: white;
    color: rgba(255, 0, 0, 0.644);
    padding: 5px;
}

main {
    background-color: rgba(128, 128, 128, 0.151);

    line-height: 1.6;
    padding: 40px;
}
main > p {
    text-align: justify;
    text-indent: 2em;
}
main > ul > li > p  {
    text-align: justify;
    text-indent: 2em;
}
main img {
    display: block;
    margin: auto;
}

footer {
    background-color: rgba(255, 0, 0, 0.356);
    color: black;

    text-align: center;
    font-size: 0.9em;
    font-weight: bolder;

    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: rgb(255, 0, 0);
}